/* .ng-scope {
  background: url('../assets/images/healthfitnessrevolution.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.navbar-text {
  margin-left: 15px;
}

.navbar-static-top {
  background-color: white;
}

