.bg-container {
  margin: auto;
  background: $brand-primary;
  width: 1300px;
  height: 1300px;
  padding: 0;
}

.bg-container h1 {
  color: white;
  text-align: center;
  vertical-align: center;
}

.navbar-text {
  margin-left: 15px;
}

.navbar-static-top {
  background-color: white;
}

