.meal {
  background: #eee;
  cursor: pointer;
  cursor: hand;
}

.animate-meals {
  &.ng-enter {
    animation: fadeInRight 0.3s;
  }
  &.ng-leave {
    animation: fadeOutLeft 0.3s;
  }
}

h3 {
  text-align: center;
}

.rating {
  margin: auto;
  width: 60%;
  text-align: center;
}

.dropdown {
  margin: auto;
  width: 60%;
}

.btn-primary {
  text-align: center;
  margin: auto;
  width: 20%;
}

