

<section class="container">
  <div class="row">
    <h3>Add a New Meal:</h3>
    <article class="col-md-6 col-md-offset-3" style="height: 400px; overflow-y: scroll;"><br>
      <form>
        <div class="dropdown">
          <label for="restaurantName" id="col-md-6 col-md-offset-3">Select Restaurant:</label>
          <select name="restaurants" ng-model="vm.selectRestaurant">
            <option ng-repeat="restaurant in vm.restaurants" value="{{ restaurant.id }}"> {{ restaurant.name }}</option>
          </select><br><br>
        </div>
        <textarea class="form-control"
                  rows="1"
                  ng-model="vm.newMeal"
                  tabindex="1"
                  placeholder="Menu Item">
        </textarea><br>
        <textarea class="form-control"
                  rows="2"
                  ng-model="vm.newMealDescription"
                  tabindex="1"
                  placeholder="Item Description">
        </textarea><br>
        <textarea class="form-control"
                  rows="1"
                  ng-model="vm.newMealPrice" | currency
                  tabindex="1"
                  placeholder="Price">
        </textarea>
      <div class="rating">
        <h4>Rate It!</h4>
        <rating id="newRating" ng-model="newRating" max="5" readonly="false" on-hover="hoveringOver(value)"></rating>
      </div>
        <br>
        <button type="submit" class="btn btn-primary" ng-click="vm.postMeal()">Post</button>
      </form>
      <hr>
      <div class="animate-meals" ng-repeat="meal in vm.selectedRestaurant.meals | orderBy: '-createdAt'">
        <dl>
          <dt><span class="text-primary"><strong>{{ meal.name }}<strong></span></dt>
          <dd><div class="well" style="white-space: pre-wrap; padding: 9px;">{{ meal.description }}</div></dd>
        </dl>
      </div>
    </article>
  </div>
</section>
