<section class="container">
  <h1>{{ vm.selectedRestaurant.name }}</h1>
  <div class="row">
    <article class="col-md-6">
      <h3>Meals:</h3>
      <div class="panel panel-primary meal"
           ng-repeat="meal in vm.meals | orderBy: 'name'"
           ng-click="vm.setSelected(meal)">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span ng-show="vm.isSelected(meal)" class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ meal.name }}
          </h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Description</dt><dd>{{ meal.description }}</dd>
            <dt>Price</dt><dd>{{ meal.price }}</dd>
          </dl>
        </div>
      </div>
    </article>
    <article class="col-md-6" style="height: 400px; overflow-y: scroll;">
      <h3>{{ vm.selectedMeal.name }}</h3>
      <form>
        <textarea class="form-control"
                  rows="3"
                  ng-model="vm.newMeal"
                  tabindex="1"
                  onfocus="if (this.value=='Add new meal here') this.value = ''">
        </textarea>
        <br>
        <button type="submit" class="btn btn-primary" ng-click="vm.postMeal()">Post</button>
      </form>
      <hr>
      <div class="animate-meals" ng-repeat="meal in vm.selectedRestaurant.meals | orderBy: '-createdAt'">
        <dl>
          <dt><span class="text-primary"><strong>{{ meal.name }}<strong></span></dt>
          <dd><div class="well" style="white-space: pre-wrap; padding: 9px;">{{ meal.description }}</div></dd>
        </dl>
      </div>
    </article>
  </div>
</section>
