.restaurant {
  background: #eee;
  cursor: pointer;
  cursor: hand;
}

#newRating {
  margin: auto;
  width: 80%;
}
.animate-meals {
  &.ng-enter {
    animation: fadeInRight 0.3s;
  }
  &.ng-leave {
    animation: fadeOutLeft 0.3s;
  }
}

.col-md-offset-3 {
  height: 35px;
  border-radius: 15px;
  border: 1px solid lightgrey;
}
